{% extends "base.html" %}


{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/divider.css') }}" />

<script type="text/javascript" src="{{ url_for('static', filename='/js/divider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/submission_panel.js') }}"></script>
{% endblock %}


{% block content %}
<div id="submission-panel" class="panel panel-default">
    <div class="panel-button-group btn-group-vertical" role="group">
        <button type="button" id="submission-zoomin-btn" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span></button>
        <button type="button" id="submission-zoomout-btn" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-out"></span></button>
    </div>
    <div class="panel-heading">
        Click to add dividers. Click on an existing divider or its label to delete it.
    </div>
    <div class="panel-body">
        <div id="submission-container">
            <img id="submission-img" src="data:image/png;base64,{{ image_b64 }}"/>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="submit()">Submit</button>
{% endblock %}
