{% extends "base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="/css/divider.css" />

<script type="text/javascript" src="/js/divider.js"></script>
{% endblock %}


{% block content %}
<div id="submission-panel" class="panel panel-default">
    <div class="panel-heading">Click to add dividers.</div>
    <div class="panel-body">
        <div id="submission-container">
            <img id="submission-img" src="data:image/png;base64,{{ image_b64 }}"/>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="submit()">Submit</button>
{% endblock %}
